<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta http-equiv="Content-Security-Policy" content="img-src 'self' data: *;default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
	<link rel="stylesheet" href="styles.css">
	<title></title>
</head>

<body>
    <div id="mgc-tour-embed" 
		 project-url="https://interactive-3dapps.com/002-mediacombiners-suiza-as/002-magic-tour-app/dev//projects/?project=b183f28a-b9b6-4aa3-8541-dc254258cead"
		 button-type="rectMedium">
        <script src="https://interactive-3dapps.com/002-mediacombiners-suiza-as/002-magic-tour-app/dev/projects/embed/embed.js"></script>
    </div>
</body>

</html>